<a href="https://colab.research.google.com/github/tanushree2/summer-training/blob/main/Task3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK:3

REG ID:GO_STP_7383

Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value.

In [ ]:
import operator
d1={0:1,3:2,5:6,2:7}
s=sorted(d1.items(),key=operator.itemgetter(1))
r=sorted(d1.items(),key=operator.itemgetter(1),reverse=True)
print("The ascending order is",s)
print("the descending order is",r)

The ascending order is [(0, 1), (3, 2), (5, 6), (2, 7)]
the descending order is [(2, 7), (5, 6), (3, 2), (0, 1)]

Q.2 Write a Python Program to add a key to a dictionary.

In [ ]:
d1={1:10,2:20}
d1.update({3:30})
print(d1)

{1: 10, 2: 20, 3: 30}

Q.3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [ ]:
city_temp={}
tocontinue = True
while(tocontinue):
  city_name=input("Enter the name").strip()
  city_t=float(input("Enter the temperature").strip())
  city_temp[city_name]=city_t
  tostop = input("Do you want to add more cities (Yes/No) : ").strip()
  if not tostop.lower() == "yes":
   tocontinue = False
req_city=input("Enter the required city").strip()
print("Temperature in %s is %.2f °F" % (req_city,city_temp[req_city]))

Enter the nameAhmedabad
Enter the temperature45
Do you want to add more cities (Yes/No) : no
Enter the required cityAhmedabad
Temperature in Ahmedabad is 45.00 °F

Q. 4 Write a Python program to convert list to list of dictionaries.

Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]

Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
color_name=["Black", "Red", "Maroon", "Yellow"]
color_code=["#000000", "#FF0000", "#800000", "#FFFF00"]
print([{'color_name':f,'color_code':c} for f,c in zip(color_name,color_code)  ])

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

Q. 5 We have following information on Employees and their Salary (Salary is in lakhs),

Employee	Salary
John	14
Smith	13
Alice	32
Daneil	21

Using above create a dictionary of Employees and their Salary
Write a program that asks user for three type of inputs,
print: if user enter print then it should print all Employees with their Salary in this format,
John ==>14
Smith ==>13
Alice ==>32
 Daneil ==>21
add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it
remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!
query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [ ]:
employees_salary={'john':14,'smith':13,'alice':32,'daniel':21}
print(employees_salary)

emp_salary={'john':14,'smith':13,'alice':32,'daniel':21}
a=input("Enter print or add or remove or query:")

if a=="print":
 print('John ==>14')
 print('Smith ==>13')
 print('Alice ==>32')
 print('Daneil ==>2')
    
if a=="add":
 x=(input("Enter the Name:"))
 y=(input("Enter the salary:"))
 emp_salary.update(x=y)

if a=='remove':
 n=input("enter what you want to be removed?")
 emp_salary.pop(n)
 print(emp_salary)

if a=="query":
 n=input("Enter employee name:")
 emp_salary[n]

{'john': 14, 'smith': 13, 'alice': 32, 'daniel': 21}
Enter print or add or remove or query:remove
enter what you want to be removed?john
{'smith': 13, 'alice': 32, 'daniel': 21}

Questions on Sets-

 Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).

Q.2 Find the elements in a given set that are not in another set

    set1 = {10,20,30,40,50}

    set2 = {40,50,60,70,80}

 Difference between set1 and set2 is {10,20,30}

 frozenset is the same as set except the forzensets are immutable which means that elements from the frozenset cannot be added or removed once created.

In [ ]:
set1 = {10,20,30,40,50}
 
set2 = {40,50,60,70,80}
print(set1-set2)

{10, 20, 30}