<a href="https://colab.research.google.com/github/tanushree2/summer-training/blob/main/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Assignment-1***

Reg Id:  GO_STP_7383

1)We are having 3 list like this

Colors = [“Yellow”,”Green”,”White”,”Black”]

Fruits=[“Apple”,”Papaya”,”Mango”,”Orange”]

Animals=[“Tiger”,”Lion”,”Deer”,”Zebra”]

  i. Write a program that asks user to enter a Color/Fruit/Animal name and it should tell which category belongs to , like its is a fruit or color or Animal

 ii. Write a program that asks user to enter two items and it tells you if they both are in same category or not. For example if I enter yellow and Black, it will print "Both are colors" but if I enter yellow and Tiger it should print "They don't belong to same category"

In [ ]:
Colors = ["Yellow","Green","White","Black"]

Fruits=["Apple","Papaya","Mango","Orange"]

Animals=["Tiger","Lion","Deer","Zebra"]
name=input("Enter the value ") 
if name in Colors:
    print("It belongs to category colors")
elif name in Fruits: 
   print("It belongs to Fruits") 
elif name in Animals: 
  print("It belongs to Animals")
else: 
  print("It dosent belong to any category")

Enter the value Apple
It belongs to Fruits

In [ ]:
Colors = ["Yellow","Green","White","Black"]

Fruits=["Apple","Papaya","Mango","Orange"]

Animals=["Tiger","Lion","Deer","Zebra"]
name1=input("Enter the value ") 
name2=input("Enter the value2 ")
if name1 in Colors:
  if name2 in Colors:
    print("The values belong to the same category")
  else:
    print("The values belong to different categories")
elif name1 in Fruits:
  if name2 in Fruits:
    print("The values belong to the same category")
  else:
    print("The values belong to different categories")
elif name1 in Animals:
  if name2 in Animals:
    print("The values belong to the same category")
  else:
    print("The values belong to different categories")

Enter the value Apple
Enter the value2 Orange
The values belong to the same category

2)Write a python program that can tell you if your grade score good or not . Normal Score range is 40 to 60.

  i. Ask user to enter his score.

  ii. If it is below 40 to 60 range then print that score is low

  iii. If it is above 60 then print that it is good otherwise print that it is normal

In [ ]:
score=int(input("Enter the score"))
if score < 40:
  print("The score is low")
elif score > 60:
  print("It is good")
else:
  print("It is normal")

Enter the score 45
It is normal

3.  After appearing in exam 10 times you got this result,

result = ["Pass","Fail","Fail","Pass","Fail","Pass","Pass","Fail","Fail","Fail"]

In [ ]:
result = ["Pass","Fail","Fail","Pass","Fail","Pass","Pass","Fail","Fail","Fail"]
c=[]
for i in result:
  if i=="Pass":
    c.append(1)
print(sum(c))

4

Que:4

In [ ]:
for i in range(5):
  print("*"*i)
for j in range(5,0,-1):
  print("*"*j)

*
**
***
****
*****
****
***
**
*

5.   Lets say you are running a 50 km race. Write a program that,

Upon completing each 10 km asks you "are you tired?"
If you reply "yes" then it should break and print "you didn't finish the race"
 If you reply "no" then it should continue and ask "are you tired" on every km
If you finish all 50 km then it should print congratulations message

In [ ]:

for i in range(0,60,10):

  if i==50:
    print("Congratulations")
  else:
    print(" you have conompleted",i,"kms,Are you tired? ")
    temp=input()
    if temp=="yes":
      print("you didnt finish the race")
      break

 you have completed 0 kms,Are you tired?
no
 you have completed 10 kms,Are you tired?
no
 you have completed 20 kms,Are you tired?
no
 you have completed 30 kms,Are you tired?

 you have completed 40 kms,Are you tired?
no
Congratulations

6.  Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [ ]:
for n in range(1500,2701):
  if n%7==0:
    if n%5==0:
      print(n)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

7.   Print square of all numbers between 10 to 20 except even numbers

In [ ]:
for i in range(10,20):
  if i%2!=0:
    print(i**2)

121
169
225
289
361